
body {
     padding-top: 20px;
   }

   .navbar {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background-color: burlywood;
     
   }

   .navbar-brand {
     color: white;
     font-weight: bold;
     margin-right: 300px; /* Add margin-right to create space */
   }

   .nav-link {
     color: white;
   }

   .form-control {
     width: 200px;
   }

   .btn-outline-success {
     color: white;
     border-color: white;
   }

   .logo-image {
     height: 50px;
     width: 113px;
   }
   #image1 {
    padding: 10px;
    border: 2px solid red;
    background-color: green;
    margin: 10px;
  }
  .navbar li a:hover{
    color: green;
    font-size : 150%;
}